.navigator-container {
    height: calc(100vh - 120px);
    width: 300px;
    top: 120px;

    position: fixed;

    border-right: 1px solid black;
}

.navigator-item {
    height: 64px;
    display: flex;
    align-items: center;
    font-size: 28px;
    border-bottom: 1px solid gray;
    color: black;
}

.navigator-item span {
    margin-left: 32px;
}
