/* HonorPage.module.css */

.HonorItem {
    margin-left:10%;
    margin-right:10%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.rank {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.id {
    flex: 2;
    padding-left: 20px;
}

.winCount {
    flex: 2;
    text-align: center;
}

.contents {
    flex: 5;
    padding-left: 20px;
}
